extends ../layout/layout

block content
  .box
    .box-header
      h3.box-title User List
      
    .box-body.table-responsive.no-padding
      table.table.table-hover
        tbody
          tr
            th ID
            th Name
            th Price
            
        tbody
          each product in docs
            tr
              td!= product.id
              td!= product.name
              td RM #{product.price}




block customJs