extends ../layout/layout

block content
  .box.box-primary
    .box-header.with-border
      h3.box-title Register Product
    
    form(action="/api/v1/product", method="POST")
      .box-body
        .form-group
          label Product Name
          input.form-control(type='text', placeholder='Enter Product Name', name="name")
          span.help-block
        .form-group
          label Price
          input.form-control(type='text', placeholder='Enter Product Price', name="price")
          span.help-block

      .box-footer
        button.btn.btn-primary(type='submit') Submit

block customJs
  script.
  
    var constraints = {
      name: {
        presence: true
      },
      price: {
        presence: true
      },
    }

    $('form').on('submit', function(e){
      var error = validateForm();
      if (error) {
        e.preventDefault();
      }
    });