doctype html
html(lang='en')
  head
    title Admin
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

  body
    h1 Product
    .container-fluid
      .row
        .col
          form(action="/api/v1/record", method="POST")
            input(type="hidden", name="items")
            select(name="buyer")
              each buyer in docs
                option(value!= buyer._id)!= buyer.username
            input(type="hidden", name="items")
            .Item
              .form-group
                label Product
                select.form-control(name="product")
                  option(value="classic") Classic Ad 
                  //- option(value="standout") Standout Ad
                  //- option(value="premium") Premium Ad

              .form-group
                label Qantity
                input.form-control(type='number', placeholder='Quantity', name="quantity")

            .Item
              .form-group
                label Product
                select.form-control(name="product")
                  //- option(value="classic") Classic Ad 
                  option(value="standout") Standout Ad
                  //- option(value="premium") Premium Ad

              .form-group
                label Qantity
                input.form-control(type='number', placeholder='Quantity', name="quantity")

            .Item
              .form-group
                label Product
                select.form-control(name="product")
                  //- option(value="classic") Classic Ad 
                  //- option(value="standout") Standout Ad
                  option(value="premium") Premium Ad

              .form-group
                label Qantity
                input.form-control(type='number', placeholder='Quantity', name="quantity")

            //- .form-group
              label Password
              input.form-control(type='password', placeholder='Enter password', name="password")
            
            button.btn.btn-primary(type='submit') Submit

    
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
  script.
    function digestItem() {
      var items = [];

      $(".Item").each(function(){
        var product = $(this).find('[name="product"]').val();
        var quantity = $(this).find('[name="quantity"]').val();
        items.push({
          product: product,
          quantity: quantity
        })
      });
      return JSON.stringify(items);
    };

    $("form").on('submit', function(e){
      console.log($('[name="items"]').val());
      $('[name="items"]').val(digestItem());
      e.preventDefault();
    });
