extends ../layout/layout

block content
  .box.box-primary
    .box-header.with-border
      h3.box-title Register User
    
    form(action="/api/v1/user", method="POST")
      .box-body
        .form-group
          label Username
          input.form-control(type='text', placeholder='Enter Username', name="username")
          span.help-block
        .form-group
          label Password
          input.form-control(type='password', placeholder='Password', name="password")
          span.help-block
        .form-group
          label Is Privilege
          select.form-control(name="isPrivilege")
            option(value="false") No
            option(value="true") Yes


      .box-footer
        button.btn.btn-primary(type='submit') Submit


block customJs
  script.
  
    var constraints = {
      username: {
        presence: true
      },
      password: {
        presence: true
      },
    }

    $('form').on('submit', function(e){
      var error = validateForm();
      if (error) {
        e.preventDefault();
      }
    });