extends ../layout/layout

block customCss
  style.
    .Privilege {
      background: #4dbacc;
      padding: 15px;
    }
    .Privilege--item:visible {
      border: 1px solid #000;
    }

block content
  script.
    var user = !{JSON.stringify(doc)};
  .box
    .box-header
      h3.box-title!= doc.username

    form(action="/api/v1/user/update", method="POST")
      input(type="hidden", name="privilege")
      .box-body
        .form-group
          label Is Privilege
          select.form-control(name="isPrivilege")
            //- option(value="false") No
            option(value="false" selected=(doc.isPrivilege === true ? true : false)) No
            option(value="true" selected=(doc.isPrivilege === true ? true : false)) Yes
        
        .Section--privilege(class!=(doc.isPrivilege ? '': 'hidden'))


        .Privilege--item.hidden
          .Privilege: .container-flud: .row
            .col-xs-12
              .form-group
                label Privilege
                select.form-control(name="privilege_type")
                  option(value='discount') Discount
                  option(value='free') Free Discount
                  option(value='quantity') Quantity Discount

            .col-xs-12
              .form-group
                label Product
                select.form-control(name="product")
                  //- option(value='discount') Discount
                  //- option(value='free') Free Discount
                  //- option(value='quantity') Quantity Discount  

            .PrivilegeItem(data-type="discount")
              .col-sm-12
                .form-group
                  label Discount Price
                  input.form-control(type='text', placeholder='Enter Product Price', name="price")

            .PrivilegeItem.hidden(data-type="free")
              .col-sm-6
                .form-group
                  label Quantity
                  input.form-control(type='text', placeholder='Enter Product Quantity', name="quantity")
              .col-sm-6
                .form-group
                  label Free Unit
                  input.form-control(type='text', placeholder='Enter Free Unit', name="free")


            .PrivilegeItem.hidden(data-type="quantity")
              .col-sm-6
                .form-group
                  label Quantity
                  input.form-control(type='text', placeholder='Enter Product Quantity', name="quantity")
              .col-sm-6
                .form-group
                  label Discount Price
                  input.form-control(type='text', placeholder='Enter Product Price', name="price")

        .btn.btn-block.btn-danger.js--addItem Add
        button.btn.btn-block.btn-danger Update

    //- .box-body.table-responsive.no-padding
      table.table.table-hover
        tbody
          tr
            th ID
            th User
            th Is Privilege
            th
            th
        tbody
          each user in docs
            tr
              td!= user.id
              td!= user.username
              td!= (user.isPrivilege === true ? "Yes" : "No")
              td
                a.btn.btn-success(href=`/user/${user.id}`) Edit
              //- td
                a.btn.btn-danger(href=`api/v1/user/remove/${user.id}`) Remove




block customJs
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js")
  script.
    $.get( "/api/v1/product", function( data ) {
      var html = '';
      data.forEach(function(product){
        html += `<option value="${product.id}">${product.name}</option>`;
      });
      $('[name="product"]').html(html);
    });

    $.get( "/api/v1/product", function( data ) {
      var html = '';
      data.forEach(function(product){
        html += `<option value="${product.id}">${product.name}</option>`;
      });
      $('[name="product"]').html(html);
    });

    $('[name="isPrivilege"]').on('change', function(){
      const isPrivilege = $(this).val();

      if (isPrivilege == 'true') {
        $('.Section--privilege').removeClass('hidden');
      } else {
        $('.Section--privilege').addClass('hidden');
      }

    });

    $(document).ready(function(){
      if(user) {
        //- console.log(user.privilege);
        $('.Privilege--item').clone().removeClass('hidden').appendTo('.Section--privilege');
        $.each(user.privilege, function(i, item){
          $privilegeItemLast = $('.Privilege--item:visible').last();
          console.log($privilegeItemLast.find('[name="price"]:visible'));

          $privilegeItemLast.find('[name="quantity"]:visible').val(item.quantity);
          $privilegeItemLast.find('[name="price"]:visible').val(item.price);
          $privilegeItemLast.find('[name="free"]:visible').val(item.free);
        });
        //- for (var product in user.privilege) {

        //-    var templatePrivilege = _.template($('[data-template="privilege"]').html());
        //-    html += templatePrivilege(user.privilege[product]);
        //-    console.log(user.privilege[product]);
        //- }
        //- $('.Section--privilege').html(html);
        
      } else {
        
      }
    });

    $('.js--addItem').on('click', function(){
      $('.Privilege--item').first().clone().removeClass('hidden').appendTo('.Section--privilege');
      //- $('.Privilege--item .hidden').clone().removeClass('hidden').appendTo('.Section--privilege');
    });

    $("form").on('change', '[name="privilege_type"]', function(){
      var type = $(this).val();
      var $privilege = $(this).closest('.Privilege');
      $('.PrivilegeItem').addClass('hidden');
      $privilege.find(`[data-type="${type}"]`).removeClass('hidden');
    });

    function digestPrivilege() {
      let privilegeObj = {};
      $('.Privilege--item:visible').each(function(){
        const privilegeProduct = $(this).find('[name="product"]').val();
        let tempObj = {};

        if(!privilegeObj[privilegeProduct]) {
          privilegeObj[privilegeProduct] = [];
        }
        tempObj.type = $(this).find('[name="privilege_type"]').val();

        $(this).find('input[type="text"]:visible').each(function(){
          let inputName = $(this).attr("name");
          tempObj[inputName] = $(this).val();
        });

        privilegeObj[privilegeProduct].push(tempObj);

      });
      return JSON.stringify(privilegeObj);
    };

    $("form").on('submit', function(e){
      $('[name="privilege"]').val(digestPrivilege());
      //- e.preventDefault();
    });

