extends ../layout/layout

block content
  .box
    .box-header
      h3.box-title User List
      
    .box-body.table-responsive.no-padding
      table.table.table-hover
        tbody
          tr
            th ID
            th User
            th Is Privilege
            th
            th
        tbody
          each user in docs
            tr
              td!= user.id
              td!= user.username
              td!= (user.isPrivilege === true ? "Yes" : "No")
              td
                a.btn.btn-success(href=`/user/${user.id}`) Edit
              //- td
                a.btn.btn-danger(href=`api/v1/user/remove/${user.id}`) Remove




block customJs