doctype html
html(lang='en')
  head
    title Seek
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    style.
      .Product {
        text-align: center;
        background: #4dbacc;
        padding: 15px;
        margin-bottom: 15px;
      }
      .Product__title {
        font-weight: bold;
        font-size: 20px;
      }
      .Product__Price {
        font-size: 18px;
        padding: 15px;
      }

  body
    div(style="background:#999;padding:50px;")
      form(action="/api/v1/record", method="POST")
        input(type="hidden", name="items")
        .form-group
          label Purchase as User: 
          select.form-control(name="buyer")
            each user in docs
              option(value!= user.id)!= user.username
        
        .Section--product: .container-fluid
          .row(data-template="product-holder")
            script(type="template", data-template="product")
              .col-sm-4
                .Product
                  input(type="hidden", name="product", value!="<%= id %>")
                  .Product__title <%= name %>
                  .Product__Price RM  <%= price %>
                  .form-group
                    select.form-control(name="quantity")
                      - var n = 0
                      while n < 11
                        option(value!= n)!= n++
                    //- input.form-control(type="number", value="0", min="0")
        
        button.btn.btn-block.btn-success Purchase


  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js")
  script.

    $.get( "/api/v1/product", function( data ) {
      var html = '';
      var templateProduct = _.template($('[data-template="product"]').html());
      data.forEach(function(product){
        html += templateProduct(product);
      });
      $('[data-template="product-holder"]').html(html);
    });

    function digestItem() {
      var items = [];

        $(".Product").each(function(){
          var quantity = Number($(this).find('[name="quantity"]').val());

          if(quantity > 0) {
            var product = $(this).find('[name="product"]').val();
            items.push({
              product: product,
              quantity: quantity
            })
          }
        });
        console.log(items);
        return JSON.stringify(items);
    };

    $("form").on('submit', function(e){
      $('[name="items"]').val(digestItem());
      //- console.log($('[name="items"]').val());
      //- e.preventDefault();
    });
