doctype html
html(lang='en')
  head
    title Seek
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/adminlte.css")
    link(rel="stylesheet", href="/css/adminlte-skin.css")
    block customCss
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        a.logo(href='/')
          span.logo-mini
            //- b Seek
            | Seek
            
          span.logo-lg
            b Seek
            | Asia
        

        nav.navbar.navbar-static-top
          // Sidebar toggle button
          a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

      aside.main-sidebar
        section.sidebar
          ul.sidebar-menu(data-widget='tree')
            //- li.header MAIN NAVIGATION
            li
              a(href='/admin/register') Register
            li
              a(href='/admin/user') User
            li
              a(href='/admin/product') Product
            li
              a(href='/admin/product-list') Product List


      .content-wrapper
        block content
    
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/adminlte.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js")
    script(src='/js/script.js')
    block customJs